.icon {
    margin-top: 0px !important;
    font-size: 22px;
}

--ion-icon {
    --padding-top: 0px;
}

.noteError {
    color:#a82f2f;
    margin-top: 0px !important;
    font-size: 18px;
    float:right;
}

.noteCorrect {
    color:grey;
    margin-top: 0px !important;
    font-size: 18px;
    float:right;
}