
<ion-row class="pageTitleRow" style="margin:0px; padding: 0px;"> 
  <ion-col size="12">
      Job ID: 30000  |  Job Type: {{currentGenInfo.jobType}} |  Location: {{currentGenInfo.provinceStateCountry}}
  </ion-col>
</ion-row>
<ion-row *ngIf="!isMobile" >
  <ion-col size="12" offset-lg="3" offset-md="3" offset-xl="4"  offset-md="3" offset-sm="2" >
    <button pButton type="button" size="2" size-sm="2" label="General Info" (click)="moveTo('generalInfo')"></button>
    <button pButton type="button" size="2" size-sm="2" label="Land" (click)="moveTo('landInfo')"></button>
    <button pButton type="button" size="2" size-sm="2" label="Water" (click)="moveTo('waterInfo')"></button>
    <button pButton type="button" size="2" size-sm="2" label="Soil" (click)="moveTo('soilInfo')"></button>
    <button pButton type="button" size="2" size-sm="2" label="Waste" (click)="moveTo('mudSummary')"></button>
    <button pButton type="button" size="2" size-sm="2" label="Mud" (click)="moveTo('mudSummary')"></button>
    <button pButton type="button" size="2" size-sm="2" label="Cement" (click)="moveTo('cement')"></button>
   <!-- <button pButton type="button" size="2" size-sm="2" label="Create DFR Excel" (click)="moveTo('dfrs')"></button> -->
   <!-- <button pButton type="button" size="2" size-sm="2" label="DFR List" (click)="moveTo('dfrs')"></button>-->
  </ion-col>
</ion-row>
