<form [formGroup]="form" >
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-6">
        <h1>Filled InputText</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield md-inputfield-fill">
                        <input type="text" pInputText>
                        <label>Name</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield md-inputfield-fill">
                        <input type="text" pInputText>
                        <label>Email</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield md-inputfield-fill">
                        <input type="text" pInputText>
                        <label>Phone</label>
                    </span>
                </div>
            </div>
       
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-3">
                    <span class="md-inputfield md-inputfield-box">
                        <input id="float-input" type="text" size="30" pInputText formControlName="projectName"> 
                        <label for="float-input">Project Name</label>
                        <p-message severity="error" text="Project Name Required" *ngIf="!form.get('projectName').valid &&form.get('projectName').touched"></p-message>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <span class="md-inputfield md-inputfield-box">
                        <input id="float-input" type="text" size="30" pInputText formControlName="projectName"> 
                        <label for="float-input">Project Name</label>
                        <p-message severity="error" text="Project Name Required" *ngIf="!form.get('projectName').valid &&form.get('projectName').touched"></p-message>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <span class="md-inputfield md-inputfield-box">
                        <input id="float-input" type="text" size="30" pInputText formControlName="projectName"> 
                        <label for="float-input">Project Name</label>
                        <p-message severity="error" text="Project Name Required" *ngIf="!form.get('projectName').valid &&form.get('projectName').touched"></p-message>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <span class="md-inputfield md-inputfield-box">
                        <input id="float-input" type="text" size="30" pInputText formControlName="projectName"> 
                        <label for="float-input">Project Name</label>
                        <p-message severity="error" text="Project Name Required" *ngIf="!form.get('projectName').valid &&form.get('projectName').touched"></p-message>
                    </span>
                </div>
            </div>
        </div>
   
  </div>
</form>