<ion-list *ngIf="currentView === 'LWDFieldInspection'">
    <ion-item  (click)="menuItem('addsprayfield')">Add Sprayfield</ion-item>
    <ion-item  (click)="menuItem('addphoto')">Add Photo</ion-item>
    <ion-item  (click)="menuItem('addfile')">Add File</ion-item>
    <ion-item  (click)="menuItem('auditexcel')">Generate Report</ion-item>
    <ion-item  (click)="menuItem('downloadattachments')">Download Files</ion-item>
    <ion-item  (click)="menuItem('submitchecklist')">Submit Checklist</ion-item>
</ion-list>