
<ion-item [formGroup]="inlineFormGroup" >
  <ion-grid class="radioGrid" >
      <ion-row>
        <ion-col size="12" class="radioLabelCol">
            <label class="radioLabelVal">{{sectionTitle}}</label> 
        </ion-col>
    </ion-row>
    <ion-row>
        <div>
            <label class="pillLabelNo">No</label>
            <ion-toggle [formControlName]="fieldName"   class="pillYesNo" ></ion-toggle>
            <label class="pillLabelYes">Yes</label>
        </div>
        <div *ngIf='isMobileDevice' class="pillPadiOS"></div>
        <div *ngIf='!isMobileDevice' class="pillPadWeb"></div>
      </ion-row>
    </ion-grid>
</ion-item>
 