<ion-item>
    <ion-label item-left position="stacked" >{{title}}</ion-label>
    <ion-icon  name="trash" class="singleRec" color="danger" slot="end"  (click)="clearPad()"></ion-icon>   
    <signature-pad [hidden]="isHidden" [options]="signaturePadOptions" class='pad' (onBeginEvent)="drawStart()" #signaturePad (onEndEvent)="drawComplete()"></signature-pad>
    <ion-img #signatureImage [hidden]="!isHidden" (click)="imageClicked()" class="signed"></ion-img>
    
    <!--  <span class="error" *ngIf="!form.get('auditorSignature').valid && form.get('auditorSignature').touched">Auditor Signature Required</span> -->
</ion-item>
