<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="dfrvegetationsummary">
      <ion-icon name="list"></ion-icon>
      <ion-label>DFR Summary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dfrattachments">
      <ion-icon name="document"></ion-icon>
      <ion-label>Photos/Files</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dfrcosts">
      <ion-icon name="card"></ion-icon>
      <ion-label>Costs</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
