
<ion-header >
  <ion-toolbar color="primary">
      <ion-title [hidden]="viewWidth < 576">
        Manage Mud Product
      </ion-title>
      <ion-buttons slot="start">
          <ion-button (click)="backToMudList()" >
              <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button icon-only (click)="showHideFormErrors()">
              <ion-icon *ngIf="form.valid"   name="checkmark-circle" class="valid"  float-right></ion-icon>
              <ion-icon *ngIf="!form.valid"  name="warning" class="warning" float-right></ion-icon>
          </ion-button>
          <ion-button icon-only (click)="onSaveForm();">
                  <ion-icon name="save" *ngIf="!form.dirty" class="valid"></ion-icon>
                  <ion-icon name="save" *ngIf="form.dirty" class='dirty'></ion-icon>
          </ion-button>
          <app-adminoptions [currentView]="'adduser'"></app-adminoptions>
          <app-navmenu></app-navmenu>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event, ionrefresher)" #ionrefresher>
      <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
      <form [formGroup]="form"> 
      <ion-row class="headerRow" style="margin:0px; padding: 0px;"> 
          <ion-col size="12">
              Manage Mud Product
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size-lg="4" size-xl="3" size="12" size-md="6" size-sm="12">
          <ion-item>
              <ion-label position="floating">Mud Product Name</ion-label>
              <ion-input formControlName='mudProductName'></ion-input>
              <div class="error">
                  <div *ngIf="!form.get('mudProductName').valid && form.get('mudProductName').touched">Mud Product Name Required</div>
              </div>
          </ion-item>
          </ion-col>
          <ion-col  size-lg="4" size-xl="3" size="12" size-md="6" size-sm="12" >
              <ion-item>
                  <ion-label position="floating">Default Unit Size</ion-label>
                  <ion-input formControlName='defaultUnitSize' type="number"></ion-input>
                  <div class="error">
                      <div ></div>
                  </div>
              </ion-item>
          </ion-col>
          <ion-col  size-lg="4" size-xl="3" size="12" size-md="6" size-sm="12">
              <ion-item>
                  <ion-label position="floating">Default Unit Type</ion-label>
                  <ion-input formControlName='defaultUnitType'></ion-input>
                  <div class="error">
                      <div ></div>
                  </div>
              </ion-item>
          </ion-col>
          <ion-col  size-lg="4" size-xl="3" size="12" size-md="6" size-sm="12">
            <ion-item>
                <ion-label position="floating">Mtox Threshold</ion-label>
                <ion-input formControlName='mtoxThreshold'></ion-input>
                <div class="error">
                    <div></div>
                </div>
            </ion-item>
        </ion-col>
        </ion-row>
        

      </form>
  </ion-grid>
    


</ion-content>