

<ion-header >
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-button (click)="backToProjectList()" >
                    <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title [hidden]="viewWidth > 576">
                    Edit Project {{projectTypeModel.projectNumber}}
            </ion-title>
            <ion-buttons slot="end">
                <app-adminoptions (itemSelected)="addLocation()" [currentView]="'editproject'"></app-adminoptions>
                <ion-button icon-only (click)="saveProject()">
                    <ion-icon name="save"  ></ion-icon>
                </ion-button>
                <app-navmenu></app-navmenu>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
      
<ion-content>
    <form [formGroup]="form" >
        <p-tabView>
            <p-tabPanel header="Project Settings" [selected]="true">
                <ion-grid>
                    <ion-row class="headerRow" style="margin:0px; padding: 0px;"> 
                        <ion-col size="12">
                            Project Settings
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size-lg="6" size-xl="3" size="12"  size-md="12">
                            <ion-item>
                                <ion-label position="floating">Project Type</ion-label>
                                <ion-input disabled formControlName="projectTypeLabel" ></ion-input>
                                <div class="error">
                                    <div *ngIf="!form.get('projectTypeLabel').valid && form.get('projectTypeLabel').touched">Project Label Required</div>
                                </div>
                            </ion-item>
                        </ion-col>
                        <ion-col size-lg="6" size-xl="3" size="12"  size-md="12">
                            <ion-item>
                                <ion-label position="floating">Project Number</ion-label>
                                <ion-input disabled type="number" formControlName="projectNumber"></ion-input>
                                <div class="error">
                                    <div *ngIf="!form.get('projectNumber').valid && form.get('projectNumber').touched">Project Number Required</div>
                                </div>
                            </ion-item>
                        </ion-col>
                        <ion-col size-lg="6" size-xl="3" size="12"  size-md="12">
                            <ion-item >
                                    <ion-label position="floating">Start Date</ion-label>
                                    <app-calendarforlist  style="width:100%" (newDateRef)="updateDate($event)" hideLabel="true" dateLabel="Start Date" dateRef="{{this.projectTypeModel.startDate}}" compRef="startDate"  index="-1"></app-calendarforlist>
                                    <div class="error">
                                        
                                    </div>
                                </ion-item>
                        </ion-col>
                        <ion-col size-lg="6" size-xl="3" size="12"  size-md="12">
                            <ion-item>
                                <ion-label position="floating">End Date</ion-label>
                                <app-calendarforlist  style="width:100%" (newDateRef)="updateDate($event)" hideLabel="true" dateLabel="End Date" dateRef="{{this.projectTypeModel.endDate}}" compRef="endDate"  index="-1"></app-calendarforlist>
                                <div class="error">
                                        
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid *ngIf="projectTypeModel.projectType === 'rrrDFR'">
                    <ion-row>
                        <ion-col size-lg="6" size-xl="3" size="12"  size-md="12">
                            <ion-item>
                                <span item-right style="width:100%;">
                                    <ion-icon name="add-circle-outline" (click)="presentGenericPopover($event)" class="icon"></ion-icon>
                                </span>
                                <ion-label position="floating">Client Name</ion-label>
                                <ion-input readonly  mode="md" formControlName="clientName"></ion-input>
                                <div class="error">
                                    <div *ngIf="!form.get('clientName').valid && form.get('clientName').touched">Client Required</div>
                                </div>
                            </ion-item>
                        </ion-col>
                        <ion-col size-lg="6" size-xl="3" size="12"  size-md="12">
                            <ion-item>
                                <ion-label position="floating">LSD</ion-label>
                                <ion-input formControlName="lsd"></ion-input>
                                <div class="error">
                                    <div *ngIf="!form.get('lsd').valid && form.get('lsd').touched">LSD Required</div>
                                </div>
                            </ion-item>
                        </ion-col>
                        <ion-col size-lg="6" size-xl="3" size="12"  size-md="12" >
                            <ion-item>
                                <ion-label position="floating" size="6">Land Type</ion-label> 
                                <ion-select multiple="false" formControlName="landType" (ionChange)="landTypeChange($event)">
                                    <ion-select-option *ngFor="let val of landTypes">{{val.value}}</ion-select-option>
                                </ion-select>
                                <div class="error">
                                    <div *ngIf="!form.get('landType').valid &&form.get('landType').touched">Land Type Required</div>
                                </div>
                            </ion-item>
                        </ion-col>
                        <ion-col size-lg="6" size-xl="3" size="12"  size-md="12" *ngIf="showDispositions">
                            <ion-item>
                                <ion-label position="floating">Dispositions</ion-label>
                                <ion-input formControlName="dispositions"></ion-input>
                                <div class="error">
                                    <div *ngIf="!form.get('dispositions').valid && form.get('dispositions').touched">Land Type Required</div>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                </p-tabPanel>   
                <p-tabPanel header="Crossing Locations" *ngIf="projectTypeModel.projectType === 'epmDFR'">    
                    <ion-grid>
                    <ion-row class="headerRow" style="margin:0px; padding: 0px;"> 
                        <ion-col size="12">
                        Crossing Locations
                        </ion-col>
                    </ion-row>
                
                    <ion-row >
                        <ion-col size-lg="12" size-xl="12" size="12"  >
                            <ion-list>
                                <ion-reorder-group disabled="false" (ionItemReorder)="itemsReordered($event)" #endGrid>
                                    <ion-item *ngFor="let d of list let i = index">
                                        <ion-grid>
                                            <ion-row>
                                                    <ion-col size-lg="3" size-xl="3"   size-md="3">
                                                        <ion-label>Location Name</ion-label>
                                                        <ion-input [value]="d['locationName']" (input)="d['locationName'] = $event.target.value"></ion-input>
                                                    </ion-col>
                                                    <ion-col size-lg="3" size-xl="3"   size-md="3">
                                                        <app-calendarforlist (newDateRef)="updateDate($event)" dateLabel="Start Date" dateRef="{{d['startDate']}}" compRef="startDate"  index="{{i}}"></app-calendarforlist>
                                                    </ion-col>
                                                    <ion-col size-lg="3" size-xl="3"  size-md="3">
                                                        <app-calendarforlist (newDateRef)="updateDate($event)" dateLabel="End Date" dateRef="{{d['endDate']}}" compRef="endDate"  index="{{i}}"></app-calendarforlist>
                                                    </ion-col>
                                            </ion-row>   
                                        </ion-grid>
                                        <ion-reorder slot="end"></ion-reorder>
                                    </ion-item>      
                                </ion-reorder-group>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                   
                </ion-grid>
            </p-tabPanel>

            <p-tabPanel header="Disposal Methods" *ngIf="projectTypeModel.projectType === 'epmDFR'">
                <ion-grid>
                    <ion-row class="headerRow" style="margin:0px; padding: 0px;"> 
                        <ion-col size="12">
                        Disposal Methods
                        </ion-col>
                    </ion-row>
                    
                    <ion-row>
                        <ion-col size="12">
                            <ion-list>
                                <ion-item *ngFor="let d of projectTypeModel.disposalMethods let i = index">       
                                    <ion-checkbox slot="start" (ionChange)="disposalChanged(d, $event)"   [checked]="d.isActive"  formControName="d.disposalMethod" ></ion-checkbox>
                                    <ion-label> {{d.disposalMethod}} </ion-label>                             
                                </ion-item>      
                                
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </p-tabPanel>

            <!-- 
            <p-tabPanel header="Field Ticket Options" >
                <ng-template pTemplate="content">
                    <ion-grid>
                        <ion-row class="headerRow" style="margin:0px; padding: 0px;"> 
                                <ion-col size="12">
                                Field Ticket Options
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf='projectTypeModel !== null'>
                                <div formArrayName="fieldTicketOptions">
                                    <div *ngFor="let fto of form.get('fieldTicketOptions').controls; let j=index;"> 
                                        <div [formGroupName]="j"  >
                                            <ion-row>
                                                <ion-col size-lg="6" size-xl="3" size="12"  size-md="12">
                                                        <ion-item>
                                                            <ion-label position="floating">Charge Label</ion-label>
                                                            <ion-input  mode="md" formControlName="chargeLabel"></ion-input>
                                                            <div class="error">
                                                                <div *ngIf="!form.get('fieldTicketOptions').controls[j].get('chargeLabel').valid && !form.get('fieldTicketOptions').controls[j].get('chargeLabel').touched === false">Charge Label</div>
                                                            </div>
                                                        </ion-item>
                                                    </ion-col>
                                        
                                                    <ion-col size-lg="2" size-xl="2" size="2"  size-md="2">
                                                        <ion-item>
                                                            <ion-label position="floating">Unit Type</ion-label>
                                                            <ion-input  formControlName="unitType"></ion-input>
                                                            <div class="error">
                                                                <div *ngIf="!form.get('fieldTicketOptions').controls[j].get('unitType').valid && !form.get('fieldTicketOptions').controls[j].get('unitType').touched === false">Unit Type Required</div>
                                                            </div>
                                                        </ion-item>
                                                    </ion-col>
                                        
                                                    <ion-col size-lg="2" size-xl="2" size="2"  size-md="2">
                                                    <ion-item>
                                                        <ion-label  position="floating">Default Qty</ion-label>
                                                        <ion-input type="number"  formControlName="defaultQty"></ion-input>
                                                        <div class="error">
                                                                <div *ngIf="!form.get('fieldTicketOptions').controls[j].get('defaultQty').valid && !form.get('fieldTicketOptions').controls[j].get('defaultQty').touched === false">Default Qty Required</div>
                                                        </div>
                                                    </ion-item>
                                                    </ion-col>
                                        
                                                    <ion-col size-lg="2" size-xl="2" size="2"  size-md="2">
                                                    <ion-item>
                                                        <ion-label position="floating">Client Cost</ion-label>
                                                        <ion-input  formControlName="clientCost"></ion-input>
                                                        <div class="error">
                                                                <div *ngIf="!form.get('fieldTicketOptions').controls[j].get('clientCost').valid && !form.get('fieldTicketOptions').controls[j].get('clientCost').touched === false">Client Cost Required</div>
                                                        </div>
                                                    </ion-item>
                                                    </ion-col>
                                        
                                                    <ion-col size-lg="2" size-xl="2" size="2"  size-md="2">
                                                    <ion-item>
                                                        <ion-label position="floating">Qty Included</ion-label>
                                                        <ion-input type="number"  formControlName="qtyIncluded"></ion-input>
                                                        <div class="error">
                                                                <div *ngIf="!form.get('fieldTicketOptions').controls[j].get('qtyIncluded').valid && !form.get('fieldTicketOptions').controls[j].get('qtyIncluded').touched === false">Qty Included Required</div>
                                                        </div>
                                                    </ion-item>
                                                </ion-col>
                                        
                                            
                                        
                                                <ion-col size-lg="2" size-xl="2" size="2"  size-md="2">
                                                    <ion-item>
                                                        <ion-label position="floating">Equipment Cost</ion-label>
                                                        <ion-input  formControlName="equipmentCost"></ion-input>
                                                        <div class="error">
                                                                <div *ngIf="!form.get('fieldTicketOptions').controls[j].get('equipmentCost').valid && !form.get('fieldTicketOptions').controls[j].get('equipmentCost').touched === false">Equipment Cost Required</div>
                                                        </div>
                                                    </ion-item>
                                                </ion-col>
                                        
                                                <ion-col size-lg="2" size-xl="2" size="2"  size-md="2">
                                                    <ion-item>
                                                        <ion-label position="floating">Percent Markup</ion-label>
                                                        <ion-input  formControlName="percentMarkup"></ion-input>
                                                        <div class="error">
                                                                <div *ngIf="!form.get('fieldTicketOptions').controls[j].get('percentMarkup').valid && !form.get('fieldTicketOptions').controls[j].get('percentMarkup').touched === false">Percent Markup Required</div>
                                                        </div>
                                                    </ion-item>
                                                </ion-col>
                                        
                                                <ion-col size-lg="2" size-xl="2" size="2"  size-md="2" >
                                                    <ion-item>
                                                        <ion-label position="stacked">Show by Default</ion-label>
                                                        <div>
                                                            <label class="pillLabelNo">No</label>
                                                            <ion-toggle formControlName="showByDefault" class="pillYesNo" ></ion-toggle>
                                                            <label class="pillLabelYes">Yes</label>
                                                            <div *ngIf='isMobileDevice' class="pillPadiOS"></div>
                                                            <div *ngIf='!isMobileDevice' class="pillPadWeb"></div>
                                                        </div>
                                                    </ion-item>
                                                </ion-col>

                                                <ion-col size-lg="2" size-xl="2" size="2"  size-md="2" >
                                                        <ion-item>
                                                            <ion-label position="stacked">Linked To Tech</ion-label>
                                                            <div>
                                                                <label class="pillLabelNo">No</label>
                                                                <ion-toggle formControlName="linkedToTech" class="pillYesNo" ></ion-toggle>
                                                                <label class="pillLabelYes">Yes</label>
                                                                <div *ngIf='isMobileDevice' class="pillPadiOS"></div>
                                                                <div *ngIf='!isMobileDevice' class="pillPadWeb"></div>
                                                            </div>
                                                        </ion-item>
                                                    </ion-col>
                                                
                                                
                                            
                                                <ion-col  size-lg="2" size-xl="2" size="2"  size-md="2" >
                                                    <ion-item>
                                                        <ion-label position="stacked">Is Active</ion-label>
                                                        <div>
                                                            <label class="pillLabelNo">No</label>
                                                            <ion-toggle formControlName="isActive" class="pillYesNo" ></ion-toggle>
                                                            <label class="pillLabelYes">Yes</label>
                                                            <div *ngIf='isMobileDevice' class="pillPadiOS"></div>
                                                            <div *ngIf='!isMobileDevice' class="pillPadWeb"></div>
                                                        </div>
                                                    </ion-item>
                                                </ion-col>
                                                        
                                            </ion-row>

                                            <ion-row >
                                                <ion-col size="12">
                                                    <hr class="hrList">
                                                </ion-col>
                                            </ion-row>
                            
                                        </div>
                                    </div>
                                </div>
                            
                            </ion-row>
                       

                        <ion-row>
                            <ion-col size="12">
                                <ion-list>
                                    <div *ngFor="let pr of projectTypeModel.fieldTicketOptions let i = index">       
                                        <app-fieldticketoptionsconfig [isMobileDevice]="isMobileDevice" [fieldTicketOptionsModel]="pr"></app-fieldticketoptionsconfig>                 
                                    </div>      
                                </ion-list>
                            </ion-col>
                        </ion-row>
                        
                    </ion-grid> 
                </ng-template>
            </p-tabPanel> -->   
        </p-tabView>
    </form> 
</ion-content>